<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brentvatne.react">
		  <application>
    <service
        android:name="com.brentvatne.exoplayer.CentralizedPlaybackManager"
        android:exported="false"
        tools:ignore="Instantiatable" />
    </application>
</manifest>
